
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #343a40;
}


/* HEADER */

header {
    background-color: #f8f9fa;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}


nav .logo {
    font-size: 1.6em;
    padding: 25px 10px;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    font-size: 1.2em;
    padding: 25px 10px;
    display: inline-block;
    text-decoration: none;
}


.nav-Home {
    border-bottom: 3px solid #007bff;
}

.nav-About {
    border-bottom: 3px solid #32cd32;
}

.nav-Services {
    border-bottom: 3px solid #8a2be2;
}

.nav-Contact {
    border-bottom: 3px solid #ffd747;
}


nav ul li a:hover {
    border-bottom: #007bff;
    font-weight: bold;
}


