
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #343a40;
}


/* HEADER */

header {
    background-color: #f8f9fa;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}


nav .logo {
    font-size: 1.6em;
    padding: 25px 10px;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    font-size: 1.2em;
    padding: 25px 10px;
    display: inline-block;
    text-decoration: none;
}


.nav-Home {
    border-bottom: 3px solid #007bff;
}

.nav-About {
    border-bottom: 3px solid #32cd32;
}

.nav-Services {
    border-bottom: 3px solid #8a2be2;
}

.nav-Contact {
    border-bottom: 3px solid #ffd747;
}


nav ul li a:hover {
    border-bottom: #007bff;
    font-weight: bold;
}


/* CTA CONTAINER */

.cta-container {
    background-color: #e9ecef;
    padding: 110px 0;
    text-align: center;
}

.cta-container h1 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

.cta-container p {
    max-width: 550px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2em;
}


/* SERVICES CONTAINER */

.services-container {
    background-color: #f1f3f5;
    padding: 34px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.services-container div {
    width: 30%;
}

.services-container i {
    font-size: 2em;
    margin-bottom: 10px;
}


/* CONTACT CONTAINER */

.contact-container {
    background-color: #f8f9fa;
    padding: 30px 0;
    text-align: center;
}

/* Formulario de contacto */
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f1f3f5;
    border: none;
    border-bottom: 3px solid transparent;
    outline: none;
}


.contact-form input:hover,
.contact-form textarea:hover {
    border-bottom: 3px solid #007bff;
}


.contact-form input[name="name"] {
    border-bottom: 3px solid #32cd32;
}

.contact-form input[name="email"] {
    border-bottom: 3px solid #8a2be2;
}

.contact-form textarea {
    border-bottom: 3px solid #ffd747;
}


.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.contact-form button:hover {
    background-color: #343a40;
}

/* FOOTER */

footer {
    background-color: #f1f3f5;
    padding: 20px;
    text-align: center;
}

footer h3,
footer small {
    font-weight: bold;
}

footer a {
    font-size: 2em;
    text-decoration: none;
}
